.ergodent {
  display: flex !important;
  flex-direction: column !important;
  justify-content: stretch !important;
  align-items: center !important;
  width: 100% !important;
  gap: 1.88rem !important;
}
.registrationProgress {
  display: none;
}
/* STEP1 */
#FirstPageTitleText {
  color: #000;
  text-align: center;
  font-family: 'ABC Arizona Flare Unlicensed Trial';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#ErgoDentChooseAppointmentTypeText {
  color: #000;
  text-align: center;
  font-family: 'ABC Arizona';
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.01875rem;
}
/* STEP3 - Calendar */
#calendarTable th {
  padding: 1rem;
}

.ergodent .calendar td {
  border: 1px solid #dddddd !important;
}
.timeLine {
  border-top: 1px solid #dddddd !important;
}

.ergodent .calendar .bookable {
  background: #ffe1b1;
  background-position: center;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}
.ergodent .calendar .bookable:hover {
  background: #cac9e6;
}
#freeTimeSlotsTable {
  border: 1px solid black;
}

/*step2*/
.ergodent .appointmentdetailbookable {
  background: #9dd1ee;
  border: 1px solid black !important;
  text-align: center;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

#firstTimeRow,
#secondTimeRow,
#thirdTimeRow,
#fourthTimeRow,
#fifthTimeRow,
#sixthTimeRow {
  border: 1px solid #dddddd !important;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1rem;
}

.appointmentdetailright {
  border: 1px solid #dddddd !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appointmentdetailbookable {
  background: #9dd1ee;
}

.appointmentdetailbookable a {
  border: 1px solid #dddddd !important;
}

.appointmentdetailright {
  border: 1px solid #dddddd !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appointmentdetailnormal,
.appointmentdetailnormalhead {
  background-color: red !important;
}
/*composant*/
#ErgoDiv button {
  border-radius: 1.25rem;
  padding: 0.5rem 1.25rem;
}

#ErgoDiv button:hover {
  background-color: #cac9e6;
}

#ErgoDiv input.input,
#ErgoDiv select.input,
#ErgoDiv textarea.input {
  border-width: 1px;
  border-style: solid;
  /*width:100%;*/
  border-radius: 0.75rem;
  padding: 0.75rem;
  background-color: transparent;
}

#ErgoDiv select.input:focus,
#ErgoDiv input.input:focus,
#ErgoDiv textarea.input:focus {
  border-color: #cac9e6 !important; /* ta couleur custom */
  outline: none !important; /* supprime le halo du navigateur */
  box-shadow: none !important; /* supprime tout effet de profondeur */
}

#inputEmail {
  margin-bottom: 2rem;
  width: auto !important;
  min-width: 19rem;
}

#ErgoDiv h1 {
  color: #000;
  font-family: 'ABC Arizona';
  font-size: 3rem;
  font-style: normal;
  font-weight: 300;
}

#ErgoDiv p {
  color: #000;
  font-family: 'ABC Arizona';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2rem;
}

#ErgoDentChooseAppointmentTypeText {
  font-size: 1.25rem;
}

/*select dropdown - STEP1*/
#appointmentTypeSelect {
  background-color: white !important;
  border-radius: 2.5rem !important;
  border: 2px solid #cac9e6 !important;
  height: 3.125rem;
  padding: 1.00031rem 1.50044rem;
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23CAC9E6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e") !important;
  background-repeat: no-repeat !important;
  background-position: right 1.5rem center !important;
  background-size: 1.5rem !important;
  padding-right: 4rem !important;
  cursor: pointer !important;
  transition: all 0.3s ease !important;
  font-family: 'ABC Arizona' !important;
  font-size: 1.125rem !important;
  color: #66686b !important;
}
/*Step3 - Image*/
#resourceSelectionMain img {
  max-height: 20rem;
  width: 100%;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));
  object-position: 50% 0%;
}

#resourceSelectionMain {
  gap: 3.5rem;
  display: flex;
  justify-content: center;
}

#resourceSelectionMain > div:nth-child(1),
#resourceSelectionMain > div:nth-child(2) {
  background-color: white !important;
  border-radius: 2.5rem !important;
  padding: 0 !important;
  overflow: hidden !important;
  max-width: 21.3rem !important;
}
#resourceSelectionMain > div:nth-child(1) > a > p,
#resourceSelectionMain > div:nth-child(2) > a > p {
  margin: 1rem 1.5rem !important;
  text-align: center !important;
}

/*Step4*/
/*Formulaire*/
#ErgoDiv div div:nth-child(3) div:nth-child(1),
#ErgoDiv div div:nth-child(3) div:nth-child(2),
#ErgoDiv div div:nth-child(3) div:nth-child(3) {
  width: 30%;
}

/*Formulaire*/
#patientGender {
  width: auto !important;
}

#ErgoDiv div div:nth-child(3) div:nth-child(1) {
  position: relative;
}

#patientGender {
  height: auto !important;
  background-color: transparent;
  padding: 0.75rem;
  border-radius: 0.75rem;
  position: absolute;
  left: -4rem;
}

#patientRemarks {
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
  padding: 0.75rem;
  background-color: transparent;
  border-color: #66686b;
}

#LegalRepresentativeText {
  position: absolute;
  top: -3rem;
}

#legalRepresentativeDiv {
  position: relative;
}
/*[form] top of Captcha - empty div */
#inputErrorExplanation {
  display: none;
}
/* Captcha */
#GeneratedCaptcha img {
  width: auto !important;
}
/*nom medcin a cote horaires*/
#ErgoDiv div div:nth-child(4) div:nth-child(1) {
  width: auto;
}
#ErgoDiv div div:nth-child(3) div:nth-child(1),
#ErgoDiv div div:nth-child(3) div:nth-child(2),
#ErgoDiv div div:nth-child(3) div:nth-child(3) {
  width: 100%;
}
.stylizedButtonSmall,
.stylizedButton {
  margin-right: 1.88rem !important;
}

.stylizedButtonSmall[onclick*='BackWeek'],
.stylizedButton[onclick*='ForwardWeek'] {
  position: relative;
  color: transparent !important; /* masque le caractère ◄ */
  width: 2.5rem; /* ajuste selon besoin */
  height: 2.5rem;
  background: #fff;
  margin-right: 1.88rem !important;
}

.stylizedButtonSmall[onclick*='BackWeek']::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.3rem;
  height: 1rem;
  transform: translate(-50%, -50%);
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="10" viewBox="0 0 13 10" fill="none"><path d="M4.01508 4.32906H12.9751V5.66906H4.01508V5.76906L7.63508 9.40906L6.23508 9.70906L0.955078 5.00906V4.98906L6.25508 0.289062L7.63508 0.589063L4.01508 4.24906V4.32906Z" fill="black"/></svg>')
    no-repeat center/contain;
}

.stylizedButtonSmall[onclick*='ForwardWeek']::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.3rem;
  height: 1rem;
  transform: translate(-50%, -50%);
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none"><path d="M-0.00976562 5.66906V4.32906H8.95024V4.24906L5.31024 0.589063L6.71023 0.289062L12.0102 4.98906V5.00906L6.73023 9.70906L5.33023 9.40906L8.95024 5.76906V5.66906H-0.00976562Z" fill="black"/></svg>')
    no-repeat center/contain;
}

.stylizedButtonSmall[onclick*='ForwardWeek'] {
  position: relative;
  color: transparent !important; /* masque le caractère ◄ */
  width: 2.5rem; /* ajuste selon besoin */
  height: 2.5rem;
  background: #fff;
  margin-right: 1.88rem !important;
}

#ErgoDiv > div > div:nth-child(3) > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#calendarTable {
  background-color: #fff !important;
  border-radius: 1.88rem !important;
  width: 100% !important;
}

.ergodent .row {
  width: 100% !important;
}
.ergodent .row .col-sm-12 {
  width: 100% !important;
}
.table {
  background-color: #fff !important;
}
