/*composant*/
.ergodent {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
}
.registrationProgress {
  display: none;
}
#ErgoDiv button {
  border-radius: 1.25rem;
  padding: 0.5rem 1.25rem;
  background-color: white;
}

#ErgoDiv button:hover {
  background-color: #cac9e6;
}

#ErgoDiv input.input,
#ErgoDiv select.input,
#ErgoDiv textarea.input {
  background-color: white !important;
  border: 0px !important;
  border-radius: 0.75rem;
  padding: 0.75rem;
}

#ErgoDiv select.input:focus,
#ErgoDiv input.input:focus,
#ErgoDiv textarea.input:focus {
  border: 1px solid #cac9e6 !important;
  outline: none !important;
  box-shadow: none !important;
}

#ErgoDiv p {
  font-family: 'ABC Arizona Flare Unlicensed Trial';
  font-weight: 300;
  font-size: 1.5rem !important;
  line-height: 2rem !important;
}

#ErgoDentChooseAppointmentTypeText {
  text-align: center !important;
  /*font-family: "ABC Arizona"!important;
  font-weight: 300!important;*/
  font-size: 1.875rem !important;
  letter-spacing: -0.01875rem !important;
}

@media (max-width: 1000px) {
  .booking_content {
    width: 100% !important;
  }
}

#backButtonId {
  background-color: transparent !important;
  border: none !important;
  text-decoration: underline !important;
  margin-left: auto !important;
  margin-right: auto !important;
  /*width:100%!important;*/
}
/* STEP1 */
/*Title*/
#FirstPageTitleText {
  color: #000;
  text-align: center;
  font-family: 'ABC Arizona Flare Unlicensed Trial';
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#ErgoDentChooseAppointmentTypeText {
  text-align: center;
  font-size: 1.875rem !important;
  letter-spacing: -0.01875rem !important;
}

#appointmentTypeSelect {
  margin-top: 1.88rem !important;
  border-radius: 2.5rem !important;
  height: 3.125rem;
  padding: 1.00031rem 1.50044rem;
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23CAC9E6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e") !important;
  background-repeat: no-repeat !important;
  background-position: right 1.5rem center !important;
  background-size: 1.5rem !important;
  padding-right: 4rem !important;
  padding-left: 2rem !important;
  cursor: pointer !important;
  transition: all 0.3s ease !important;
  font-size: 1.125rem !important;
  width: 100% !important;
  max-width: 80vw !important;
}

/*Step2*/
/*Title*/
#ErgoDentChoosePractitionerText {
  text-align: center !important;
  /*font-family: 'ABC Arizona';
    font-weight: 300;*/
  font-size: 1.875rem !important;
  letter-spacing: -0.01875rem !important;
  max-width: 80vw !important;
}
/*Step2*/
/*Container*/
#resourceSelectionMain {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
}
/*Step2*/
/*Team IMG*/
#resourceSelectionMain img {
  max-height: 20rem;
  width: 100%;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));
  object-position: 50% 0%;
}

/*Step2*/
/*Team Info Content*/
#resourceSelectionMain > div:nth-child(1),
#resourceSelectionMain > div:nth-child(2) {
  background-color: white !important;
  border-radius: 2.5rem !important;
  padding: 0 !important;
  overflow: hidden !important;
  max-width: 21.3rem !important;
}
#resourceSelectionMain > div:nth-child(1) > a > p,
#resourceSelectionMain > div:nth-child(2) > a > p {
  margin: 1rem 1.5rem !important;
  text-align: center !important;
}
/*Step2*/
/*Responsive*/
@media (max-width: 700px) {
  #resourceSelectionMain {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #resourceSelectionMain div {
    width: 100% !important;
  }
}

/*Step3 - Nav btn*/
.stylizedButtonSmall,
.stylizedButton {
  margin-right: 1.88rem !important;
}

.stylizedButtonSmall[onclick*='BackWeek'],
.stylizedButton[onclick*='ForwardWeek'] {
  position: relative;
  color: transparent !important; /* masque le caractère ◄ */
  width: 2.5rem; /* ajuste selon besoin */
  height: 2.5rem;
  background: #fff;
  margin-right: 1.88rem !important;
}

.stylizedButtonSmall[onclick*='BackWeek']::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.3rem;
  height: 1rem;
  transform: translate(-50%, -50%);
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="13" height="10" viewBox="0 0 13 10" fill="none"><path d="M4.01508 4.32906H12.9751V5.66906H4.01508V5.76906L7.63508 9.40906L6.23508 9.70906L0.955078 5.00906V4.98906L6.25508 0.289062L7.63508 0.589063L4.01508 4.24906V4.32906Z" fill="black"/></svg>')
    no-repeat center/contain;
}

.stylizedButtonSmall[onclick*='ForwardWeek']::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.3rem;
  height: 1rem;
  transform: translate(-50%, -50%);
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 12 10" fill="none"><path d="M-0.00976562 5.66906V4.32906H8.95024V4.24906L5.31024 0.589063L6.71023 0.289062L12.0102 4.98906V5.00906L6.73023 9.70906L5.33023 9.40906L8.95024 5.76906V5.66906H-0.00976562Z" fill="black"/></svg>')
    no-repeat center/contain;
}

.stylizedButtonSmall[onclick*='ForwardWeek'] {
  position: relative;
  color: transparent !important; /* masque le caractère ◄ */
  width: 2.5rem; /* ajuste selon besoin */
  height: 2.5rem;
  background: #fff;
  margin-right: 1.88rem !important;
}

/* STEP3 - Calendar */
#AppointmentText,
#SelectAppointmentHourText,
#TimeText,
#SelectAppointmentStartTimeText {
  text-align: center !important;
}
#SelectAppointmentHourText {
  margin-bottom: 1.88rem !important;
}
#calendarTable {
  margin-top: 1.88rem !important;
}
#calendarTable th {
  padding: 1rem;
}

.ergodent .calendar td {
  border: 1px solid #ffe1b1 !important;
}
.timeLine {
  border-top: 1px solid #ffe1b1 !important;
}

.ergodent .calendar .bookable {
  border: 1px solid white !important;
  background: #ffe1b1;
  background-position: center;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}
.ergodent .calendar .bookable:hover {
  background: #cac9e6;
}

#calendarTable {
  background-color: #fff !important;
  border-radius: 1.88rem !important;
  width: 100% !important;
}

.ergodent .row {
  width: 100% !important;
  max-width: 80vw !important;
}
@media (max-width: 650px) {
  #calendarTable {
    border-radius: 0.5rem !important;
  }
  #calendarTable th {
    padding: 0.25rem !important;
  }
  .stylizedButtonSmall[onclick*='BackWeek'],
  .stylizedButton[onclick*='ForwardWeek'],
  .stylizedButton[onclick*='ForwardMonth'] {
    margin-right: 0.25rem !important;
  }
}

/*Step4 - Doctor info*/
.yourchoice {
  margin-top: 1.88rem !important;
  padding: 1.88rem !important;
  border-radius: 1.88rem !important;
  border: 1px solid #dddddd !important;
  background-color: #fff !important;
}
/*Step4 - Title*/
#SelectAppointmentStartTimeText {
  margin-bottom: 1.88rem !important;
}
/*Step4 - Table*/
table {
  background-color: #fff !important;
  border-radius: 1.88rem !important;
  overflow: hidden !important;
  width: 100% !important;
}
.appointmentdetailheader,
.appointmentdetailbottom {
  border-top: 1px solid #ffe1b1 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
tr:first-child > th.appointmentdetailheader {
  border-top: none !important;
}
.appointmentdetailbookable {
  background: #ffe1b1;
}
.appointmentdetailbookable:hover {
  background: #cac9e6;
}
#freeTimeSlotsTable tr {
  border-top: 1px solid #fff !important;
  border-left: 1px solid #ffe1b1 !important;
  cursor: pointer !important;
}
.appointmentdetailbookable {
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}
#freeTimeSlotsTable > tbody > tr {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  border-bottom: 1px solid #ffe1b1 !important;
}
.appointmentdetailright {
  width: auto !important;
}
#freeTimeSlotsTable {
  border-radius: 0 !important;
}

.appointmentdetailbookable div {
  margin: 0 !important;
  padding: 0 !important;
  cursor: pointer !important;
}

/*STep5 - Email*/
#RegisterText,
#EnterEmailText {
  text-align: center !important;
}

#inputEmail {
  border: 2px solid #cac9e6 !important;
  margin-bottom: 2rem;
  margin-top: 1.88rem !important;
  min-width: 19rem;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
  max-width: 25rem;
  width: 100%;
}

/*STep6 - Formulaire*/
#PleaseRegisterText {
  text-align: center !important;
}

#ErgoDiv div div:nth-child(3) div:nth-child(1) {
  position: relative;
}

#patientGender {
  height: auto !important;
  padding: 0.75rem;
  border-radius: 0.75rem;
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23CAC9E6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e") !important;
  background-repeat: no-repeat !important;
  background-position: right 1.5rem center !important;
  background-size: 1.5rem !important;
  padding-right: 4rem !important;
  padding-left: 2rem !important;
}
@media (max-width: 1000px) {
  #patientGender {
    position: static !important;
  }
}

#patientRemarks {
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
  padding: 0.75rem;
}

@media (max-width: 700px) {
  #legalRepresentativeDiv {
    flex-direction: column !important;
  }
}

/*[form] top of Captcha - empty div */
#inputErrorExplanation {
  display: none;
}
/* Captcha */
#GeneratedCaptcha img {
  width: auto !important;
}
#GeneratedCaptcha {
  width: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
#CaptchaInputField {
  width: 18rem !important;
}

/*A DEFINIR*/

#ErgoDiv > div > div:nth-child(3) > div:nth-child(1),
#ErgoDiv > div > div:nth-child(3) > div:nth-child(2),
#legalRepresentativeDiv {
  width: 100%;
  display: block;
}
#PleaseRegisterText {
  margin-bottom: 1.88rem !important;
}
#legalGuardianFirstName {
  margin-right: 1rem !important;
}

#ErgoDiv > div > div:nth-child(9) > div {
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}

/*last step - Confirmation*/
#appointmentSaveOkMessage,
#ConfirmationText,
#ConfirmAppointment_PatientName {
  text-align: center !important;
}

/*Test no bookable*/
.appointmentdetailnormal,
.appointmentdetailnormalhead {
  border: 0px !important;
  background-color: red !important;
}
#freeTimeSlotsTable tr {
  border: 0px !important;
}

/* buton center */
#backButtonId,
#continueButtonId {
  position: relative;
  left: 45%;
  transform: translateX(-45%);
}
@media (max-width: 1000px) {
  #backButtonId,
  #continueButtonId {
    left: 38%;
    transform: translateX(-38%);
  }
}
@media (max-width: 767px) {
  #ErgoDiv input.input,
  #ErgoDiv select.input,
  #ErgoDiv textarea.input {
    width: 100% !important;
  }
  #ErgoDiv > div > div:nth-child(3) > div {
    max-width: 80vw !important;
  }
  #legalRepresentativeDiv {
    flex-direction: column !important;
  }
  #legalGuardianFirstName {
    margin-right: 0 !important;
  }
  #ErgoDiv > div > div:nth-child(3) {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
}
